page {
  background-color: #ffff;

  .page-wrapper {
    padding: 0 32upx;
    .list{
      padding: 32rpx 0;
      position: relative;
      &:after {
        @include bottom-line(#eee)
      }
      .list-title {
        font-size: 32rpx;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
      }
      .time{
        text-align: right;
        color: #999999;
        font-size: 24rpx;
        margin-top: 24rpx;
      }
    }
  }
}
