page {
  height: 100%;
  font-size: 28upx;
  background: #FFFFFF;
  .page-wapper {
    padding-top: 140rpx;
    .title{
      text-align: center;
      font-size: 32rpx;
      font-weight: 600;
    }
    .set_text{
      font-size: 24rpx;
      color: #666666;
      text-align: center;
      margin: 24rpx 0;
    }
    .setTips{
      color: #666666;
      text-align: center;
      padding: 0 140rpx;
      margin-top: 32rpx;
    }
  }
}
