page {
  height: 100%;
  font-size: 28upx;
  background: #FFFFFF;
}
.pay {
    background: #fff;
    padding-bottom: 34rpx;
    .money {
      padding: 0 30upx;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 32rpx;
      font-weight: 600;
      text {
        font-size: 26upx;
        color: $fu-main-color;
      }

      view {
        padding: 30upx 0;
        color: $fu-main-color;
      }
    }

    .get-money-wapper {
      padding: 0 30upx;

      .get-money {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 31upx 0 38rpx;
        color: $uni-text-color;
        position: relative;
        &:after {
          @include bottom-line(#eee);
        }
        .get-money-left{
          display: flex;
          flex-direction: row;   
          align-items: flex-end;
          input {
            flex: 1;
            // height: 80upx;
            font-size: 32rpx;
          }
          text {
            font-size: 56upx;
            margin-right: 10upx;
            line-height: 1;
          }
        }
        .allCash{
          font-size: 24rpx;
          color: #3994D8;
        }
      }
    }

    .remark {
      padding: 0 30upx;
      font-size: 24upx;
      color: #999999;
      margin-top: 23rpx;
      .illustrStyle{
        margin-top: 17rpx;
      }
    }
  }
  .lineBg{
    width: 100%;
    height: 20rpx;
    background-color: #F8F8F8;
  }
  .public-pay-way {
    // margin-top: 24rpx;
    padding: 32rpx 32rpx 0;
    background-color: #FFFFFF;
    .title{
      font-size: 28rpx;
      font-weight: 600;
    }
    .item-wapper{
      .item{
        display: flex;
        flex-direction: row;   
        align-items: center;
        justify-content: space-between;
        padding: 40rpx 0;
        position: relative;
        &:after {
          @include bottom-line(#eee);
        }
        .item_right{
          display: flex;
          flex-direction: row;   
          align-items: center;
          image{
            width: 52rpx;
            height: 52rpx;
            margin-right: 20rpx;
            border-radius: 50%;
          }
        }
        .check_imgs{
          width: 36rpx;
          height: 36rpx;
        }
      }
    }
  }
  
  .page-footer{
    position: fixed;
    bottom: 40rpx;
    left: 0;
    width: 100%;
    .page-remark {
      text-align: center;
      font-size: 24upx;
      padding: 10upx 32upx;
      margin-top: 40rpx;
      .xy_ck{
        width: 24rpx;
        height: 24rpx;
        margin-right: 16rpx;
      }
      .red {
        color: #008CFF;
        
      }
    }
    .sub {
      width: 686upx;
      height: 88upx;
      text-align: center;
      line-height: 88upx;
      margin: 20upx auto 0;
      color: #fff;
      // background-color: #3994D8;
      background: linear-gradient(to right,#29CAFD,#1CABF5);
      border-radius: 45px;
      font-size: 32upx;
    
      &:after {
        border: 0;
      }
    }
  }
  
  .explainCon{
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    .explainCon_box{
      width: 500rpx;
      min-height: 400rpx;
      padding: 32rpx;
      background-color: #FFFFFF;
      border-radius: 8px;
      overflow: hidden;
      .explainCon_til{
        text-align: center;
        font-size: 32rpx;
        margin-bottom: 24rpx;
      }
      rich-text{
        text-align: left;
      }
    }
    .iconSty{
      margin-top: 20rpx;
    }
  }
